<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>MonitorWeb</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>MPointManagerServlet</servlet-name>
    <servlet-class>TstWebRequest.MPointManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MPointManagerServlet</servlet-name>
    <url-pattern>/MPManagerRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DictionaryServlet</servlet-name>
    <servlet-class>TstWebRequest.DictionaryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DictionaryServlet</servlet-name>
    <url-pattern>/DictionaryRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DictionaryComboServlet</servlet-name>
    <servlet-class>TstWebRequest.DictionaryComboServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DictionaryComboServlet</servlet-name>
    <url-pattern>/DictionaryComboRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InstrumentSensorServlet</servlet-name>
    <servlet-class>TstWebRequest.InstrumentSensorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InstrumentSensorServlet</servlet-name>
    <url-pattern>/SensorRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InstrumentTerminalServlet</servlet-name>
    <servlet-class>TstWebRequest.InstrumentTerminalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InstrumentTerminalServlet</servlet-name>
    <url-pattern>/TerminalRequest</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>TerminalServlet</servlet-name>
    <servlet-class>TstWebRequest.TerminalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TerminalServlet</servlet-name>
    <url-pattern>/InsTerminalRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TstResquest</servlet-name>
    <servlet-class>TstWebRequest.TstResquest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TstResquest</servlet-name>
    <url-pattern>/TstWebRequest/TstResquest</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InstrumentAcqServlet</servlet-name>
    <servlet-class>TstWebRequest.InstrumentAcqServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InstrumentAcqServlet</servlet-name>
    <url-pattern>/InstrumentAcq.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PrjStructServlet</servlet-name>
    <servlet-class>TstWebRequest.PrjStructServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrjStructServlet</servlet-name>
    <url-pattern>/PrjStructResquest</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PrjGuideServlet</servlet-name>
    <servlet-class>TstWebRequest.PrjGuideServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrjGuideServlet</servlet-name>
    <url-pattern>/PrjGuideResquest</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DataManageServlet</servlet-name>
    <servlet-class>TstWebRequest.DataManageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataManageServlet</servlet-name>
    <url-pattern>/DataManageRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RelationInsServlet</servlet-name>
    <servlet-class>TstWebRequest.RelationInsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RelationInsServlet</servlet-name>
    <url-pattern>/RelationInsRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserCtrlServlet</servlet-name>
    <servlet-class>TstWebRequest.UserCtrlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserCtrlServlet</servlet-name>
    <url-pattern>/UserCtrlRequest</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>log4jConfiguration</param-name>
    <param-value>/WEB-INF/log4j2.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.apache.logging.log4j.web.Log4jServletContextListener</listener-class>
  </listener>
</web-app>